<%- include("partials/header") -%>
<style>
  body{
    background-image:  url("./images/bg.jpg");

  }
  .dropbtn {
  background-color:black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}


.dropdown {
  position: relative;
  display: inline-block;
  left : 45%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  text-align:center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content p{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.heigh{
  font-size:150%;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#fff;
color: black;}

.touch{
  text-align:center;
  margin-top:2%;
}
h1{
  margin-left:6%;
  margin-top:2%;
  font-size: 50px;
}

.but{
  width : 10%;
  height : 10%;
  outline : none;
  border-radius : 20px;
  background-color : black;
  color : white;
  margin-bottom : 2%;
  font-size : 1.5rem;
  padding : 5px;

}

</style>
<div class="head container-fluid">
<img src="https://www.designmantic.com/logo-images/10497.png?company=Company+Name&slogan=&verify=1">
<h1 class="heading">PATHWAY</h1>
<div class="dropdown">
    <button class="dropbtn">USER</button>
    <div class="dropdown-content">
      <p> <%=name%> </p>
      <a href="/home">Logout</a>
    </div>
  </div>
</div>


<h1>Compose</h1>
<form  action="/compose" method="post">
  <div class="touch">
    <h6 class="heigh">Name</h6>
    <input  type="text" name="userName" required autocomplete="off">
  </div>
  <div class="touch">
    <h6 class="heigh">Status</h6>
    <input  type="text" name="status" required autocomplete="off">
  </div>
  <div class="touch">
    <h6 class="heigh">Content</h6>
    <textarea name="content" rows="10" cols="140" required autocomplete="off"></textarea>
  </div>
  <div class="touch">
    <button class="but" type="submit" name="button">Post</button>
  </div>

</form>
<%- include("partials/footer") -%>
