

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathway</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">



</head>
<body>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-image:url("./images/2.jpeg");
}

::placeholder{
  opacity: 1;
  color: #f4ca16;
}
img{
    height: 150px;
    width:150px;
    border-radius: 75px;
    position: relative;
}
.head{
    padding: 20px;
    padding-bottom: 30px;

}
.head h1{
    font-size: 150px;
    margin-top: -10px;
    margin-bottom: 0px;
    padding-bottom: -50px;
    font-family: 'Domine', serif;
}
.head h2{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-decoration-line: underline ;
    text-decoration-color: #f4ca16 ;
    font-family: 'Dancing Script', cursive;
}
.small{
    font-size: 120px;
}
.main-container{
  width: 300px;
  height: 350px ;
  position: relative;
  top: 18%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 50px;
  text-align: center;
  border: none;
  overflow: hidden;
  background-color:#484848;
  box-shadow: 0px 4px 10px 10px rgba(0,0,0,0.4);
  border-radius: 20px;

}
a{
  text-decoration: none;
  color: black;
}
.btns{
  width: 300px;
  height: 50px;
  position: relative;
  top: -7%;
  left: 7px;
  display: grid;
  grid-template-areas: 'login signup';
  margin: 20px auto;
  border-radius: 25px;


}
.btn{

  display: inline-block;
  font-size: 20px;
  padding: 5px;
  border : none;
  outline: none;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  color: black;
  background-color: #f4ca16;
  box-shadow: 0 2px 3px 1px rgba(0,0,0,0.2), 0 2px 3px 1px rgba(0,0,0,0.2);
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 3px;
}

.login-form{
  width: 100%;
  height: 300px;
  text-align: center;
  overflow: hidden;
  margin-top: 15px;
  position: relative;
  right: 0;
  transition: right 0.5s;
  font-family: 'Roboto Condensed', sans-serif;
}


.signup-form{
  width: 100%;
  height: 300px;
  margin-top: 15px;
  text-align: center;
  position: relative;
  bottom: 325px;
  left: 400px;
  overflow: hidden;
  transition: left 0.5s;

}
.signup-icons{
  position: absolute;
  padding:20px;
  left: -19px;
}

.input-field{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #f4ca16;
  margin: 13px 0px;
  padding: 5px 20px;
  font-size: 20px;
  background: none;
  color:#ffcc33;

  font-family: 'Roboto Condensed', sans-serif;

}
.icons{
  position: absolute;
  padding: 19px;
  left: -17px;
}

.submit-btn{
  width: 60%;
  height: 40px;
  position: relative;
  top: 100px;
  font-size: 20px;
  border: none;
  outline:none;
  border-radius: 25px;
  cursor: pointer;
  background-color: #f4ca16;
  font-family: 'Roboto Condensed', sans-serif;

}

.move-login{
  right: 350px;

}

.move-signup{
  left: 0;

}

.submit-signup{
  position: relative;
  top: 40px;
}


.btn-hover{
  background-color: #fff;
  color: #f4ca16;
  box-shadow: 0 5px 8px 1px rgba(0,0,0,0.5);
}

footer{
  position: relative;
  bottom: 5%;
  font-weight: bold;
  background-color: black;
  color: #f4ca16;
}
  </style>
    <div class="head">
    <img src="https://www.designmantic.com/logo-images/10497.png?company=Company+Name&slogan=&verify=1">
    <h1 class="heading">PATHWAY</h1>
    <h2>Your pal on the path to success...</h2>
    </div>
    <div class="main-container">
      <div class="btns">
        <button class="btn" name="login-btn">Login</button>
        <button class="btn" name="signup-btn">Sign-up</button>
      </div>
      <form action="/" method="post">
        <div class="login-form">
          <i class="fa fa-user icons"></i>
          <input class="input-field" type="text" name="username" placeholder="Username" required autocomplete="off">
          <i class="fa fa-lock icons"></i>
          <input class="input-field" type="password" name="password" placeholder="Password" required autocomplete="off">
          <button class="submit-btn btn" type="submit">LOGIN </button>
            <!-- <a href="/home">LOGIN</a></button> -->
        </div>
      </form>
      <form action="/" method="post">
        <div class="signup-form">
          <i class="fa fa-user signup-icons "></i>
          <input class="input-field" type="text" name="username" placeholder="Username" required autocomplete="off">
          <i class="fa fa-lock signup-icons"></i>
          <input class="input-field" type="password" name="password" placeholder="Password" required autocomplete="off">
          <i class="fa fa-key signup-icons"></i>
          <input class="input-field" type="password"name="confirmpassword" placeholder="Confirm Password" required autocomplete="off">
          <button class="submit-btn submit-signup btn" type="submit">SUBMIT </button>
            <!-- <a href="/home">SIGN UP</a></button> -->
        </div>
      </form>

    <script src="index.js" charset="utf-8"></script>

    </div>
    <footer>Developed by The Reacters</footer>

    <script type="text/javascript">
    $(".btn").mouseenter(function(event){
    $(event.target).addClass("btn-hover");
  });

  $(".btn").mouseleave(function(event){
    $(event.target).removeClass("btn-hover");
  });



  $(".btn").click(function(event){
    //console.log("button clicked");
    $(event.target).removeClass("btn-hover");
    $(".head h1").addClass("small");

      setTimeout(function() {
        $(event.target).addClass("btn-hover");
      }, 100);

    const name = $(event.target).attr("name");

    if(name === "signup-btn")
    {
      $(".login-form").addClass("move-login");
      $(".signup-form").addClass("move-signup");
      // $(".submit-btn").addClass("move-signup-submit");
    }

    else if(name === "login-btn")
    {
      $(".login-form").removeClass("move-login");
      $(".signup-form").removeClass("move-signup");
      // $(".submit-btn").removeClass("move-signup-submit");
    }
  });
    </script>
</body>
</html>
